doctype html
html(lang="en")
  head
    title="Benk.Capital"
    meta(name="viewport" content="width=device-width" initial-scale="1.0")
    link(rel="stylesheet" href="/public/css/main.css")
    link(href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700|Lato:300,400,500,700" rel="stylesheet")

  body
    h1(style="text-align: center") Benk.capital
    h1(style="text-align: center") 🚀
    div(class="flex-column align-center justify-center" style="margin:0 auto; max-width:375px")
      a(href="/login") Log in
      a(href="/signup") Sign up
      
