.row {
    display: flex;
    padding: 10px;
    /*border-bottom: 1px solid #ededed;*/
}

.cell {
  flex: auto;
}
html{
  width: 100%;
}
* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}
body{
  margin:0;
  font-family: 'Raleway', sans-serif;
  min-height: 100vh;
}
footer {
  bottom: 0;
  width: 200px;
  left:50%;
  margin-left: -100px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column{
  display: flex;
  flex-flow: column;
}
.align-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
a{
  color: #2196F3;
}
a:hover{
  text-decoration: none;
}
.Button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 295px;
  padding: 10px 20px;
  border-radius: 25px;
  border: 0;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  flex: 0 0 24px;
  outline: none;
}

.Button-Primary{
  color: white;
  background: #647df9;
  text-align: center;
}
.Button-Primary:hover{
  background: #4861dc;
}
.green{
  color: green;
}
.red {
  color:red;
}

/*Navbar*/
.Navbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFECB3;
}
.Navbar-inner {
  display: flex;
  justify-content: space-between;
  flex: 0 0 95%;
}
.Navbar-logo a{
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color:#4a4a4a;
}
.Navbar-links {
  display: flex;
}

.Navbar-links a {
  margin: 0 10px;
  color: #2196F3;
}
/*End Navbar*/
.NewInvestmentButton{
  margin: 10px auto;
}
/*Responsive Table*/
.rwd-table {
  min-width: 300px;
  width: 100%;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  margin-bottom: 4em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 10em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

.rwd-table {
  overflow: hidden;
}
.rwd-table tr {
  border-color: #46637f;
}
.rwd-table th, .rwd-table td {
  padding: .5em 1em;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th, .rwd-table td:before {

}
th, td{
  border-bottom: 1px solid #ededed;
}

.signup-form, .Form-NewInvestment {
  width: 100%;
  max-width: 375px;
  padding: 50px 20px;
  margin:0 auto;
}

.FormGroup input, .FormGroup select {
  width: 100%;
  margin: 0;
  padding: 15px 10px;
  border: 1px solid #ededed;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 300;
  background:#fff;
}

.FormGroup {
    display: flex;
    margin: 10px 0px;
}
.FormDescription{
  font-size: 20px;
  text-align: center;
  margin: 20px 0;
}
.FormError{
  color:#D13336
}
.form-row{
  margin:20px 0;
}
.flex-column .Button-Primary{
  flex: 0 0 44px;
  height: 44px;
  padding-top: 0;
  padding-bottom: 0;
}
